html {
	width: 100%;
	height: 100%;
}
body {
	width: 98%;
	height: 98%;
	margin: 0px;
	padding: 8px;
}
/*
@font-face {
    font-family: RalewayDots;
    src: url(./fonts/RalewayDots-Regular.ttf);
}
@font-face {
    font-family: Arimo;
    src: url(./fonts/Arimo-Regular.ttf);
}
@font-face {
    font-family: DidactGothic;
    src: url(./fonts/DidactGothic-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
*/
.reportHeader {
	width: 100%;
}
.reportInformation {
	width: 30%;
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
}
#logo {
	font-size: 28px;
	font-family: 'RalewayDots';
}
#timestamp {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 2px;
	font-size: 10px;
	font-family: 'Arimo';
	color: rgba(0,0,0,0.4);
}
table.reportMetadata {
	width: 60%;
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
	font-size: 10px;
	font-family: 'Roboto';
	border-spacing:0px;
	border-collapse: collapse;
}
table.reportMetadata tbody {
	width: 100%;
	display: table;
}
table.reportMetadata td.reportMetadataHeader {
	color: rgba(0,0,0,0.5);
}
table.reportMetadata td.reportMetadataItem {
	color: rgba(0,0,0,0.8);
}
.reportMetadataPageNumber {
    width: 5%;
    font-size: 10px;
    font-family: 'Roboto';
    text-align: 'right';
}
.reportBody {
	width: 100%;
	margin-top: 8px;
	font-size: 12px;
	font-family: 'DidactGothic';
	color: rgba(0,0,0,0.9);
}
.reportCategory {
	width: 100%;
	text-align: center;
	padding: 4px;
	border-top: 1px solid rgba(0,0,0,0.2);
}
.reportItem {
	width: 100%;
	padding: 4px;
}
.reportItemDescription {
	display: inline-block;
	white-space: nowrap;
	font-size: 10px;
}
.reportItemDescription .reportItemDescriptionHeader {
	color: rgba(0,0,0,0.7);
}
.reportItemDescription .reportItemDescriptionDetail {
	color: rgba(0,0,0,0.5);
}
.reportItemImage {
	display: inline-block;
	white-space: nowrap;
}
.reportItemImage .reportItemDataImage {
	width: 90%;
}
.reportItemImage .reportItemLegendImage {
	width: 10%;
}
