<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            html {
                width: 100%;
                height: 100%;
            }
            body {
                width: 98%;
                height: 98%;
                margin: 0px;
                padding: 8px;
            }
            .reportHeader {
                width: 100%;
            }
            .reportInformation {
                width: 30%;
                display: inline-block;
                white-space: nowrap;
                vertical-align: bottom;
            }
            #logo {
                font-size: 28px;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #d3d3d3;
                font-weight: 100;
                font-variant: small-caps;
            }
            #timestamp {
                margin-top: 8px;
                margin-left: 4px;
                margin-right: 4px;
                margin-bottom: 2px;
                font-size: 10px;
                font-family: 'Courier New', Courier, monospace;
                color: rgba(0,0,0,0.4);
            }
            table.reportMetadata {
                width: 69%;
                display: inline-block;
                white-space: nowrap;
                vertical-align: bottom;
                font-size: 10px;
                font-family: Helvetica,Arial,sans-serif;
                border-spacing:0px;
                border-collapse: collapse;
            }
            table.reportMetadata tbody {
                width: 100%;
                display: table;
            }
            table.reportMetadata td.reportMetadataHeader {
                color: rgba(0,0,0,0.5);
            }
            table.reportMetadata td.reportMetadataItem {
                color: rgba(0,0,0,0.8);
            }
            .reportBody {
                width: 100%;
                margin-top: 8px;
                font-size: 12px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgba(0,0,0,0.9);
            }
            .reportCategory {
                width: 100%;
                text-align: center;
                padding: 4px;
                border-top: 1px solid rgba(0,0,0,0.2);
            }
            .reportItem {
                width: 100%;
                padding: 4px;
            }
            .reportItemDescription {
                display: inline-block;
                white-space: nowrap;
                font-size: 10px;
            }
            .reportItemDescription .reportItemDescriptionHeader {
                color: rgba(0,0,0,0.7);
            }
            .reportItemDescription .reportItemDescriptionDetail {
                color: rgba(0,0,0,0.5);
            }
            .reportItemImage{
                display:table-row;
            }
        </style>
    </head>
    <body>
        <div class="reportHeader">
            <div class="reportInformation">
                <div id="logo">
                    D P r e p o r t
                </div>
                <div id="timestamp">
                    {{ gen_time }}
                </div>
            </div>
            <table class="reportMetadata">
                <tbody>
                    <tr>
                        <td class="reportMetadataHeader">Study</td>
                        <td class="reportMetadataItem">{{ study }}</td>
                        <td class="reportMetadataHeader">DX</td>
                        <td class="reportMetadataItem">{{ diagnosis }}</td>
                    </tr>
                    <tr>
                        <td class="reportMetadataHeader">Participant ID</td>
                        <td class="reportMetadataItem">{{ subject_id }}</td>
                        <td class="reportMetadataHeader">Demographics</td>
                        <td class="reportMetadataItem">{{ age }}, {{ gender }}, {{ race }}</td>
                    </tr>
                    <tr>
                        <td class="reportMetadataHeader">Beiwe ID</td>
                        <td class="reportMetadataItem">{{ beiwe_id }}</td>
                        <td class="reportMetadataHeader">Beiwe Version</td>
                        <td class="reportMetadataItem">{{ beiwe_version }}</td>
                    </tr>
                    <tr>
                        <td class="reportMetadataHeader">Device Model</td>
                        <td class="reportMetadataItem">{{ manufacturer }}, {{ model }}</td>
                        <td class="reportMetadataHeader">OS</td>
                        <td class="reportMetadataItem">{{ os }} {{ os_version }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="reportBody">
            {% for category_name, variables in categories.iteritems() %}
            <div class="reportCategory">
                {{ category_name }}
            </div>
                {% for variable in variables %}
                    {% if ('daily' in variable and page in variable['daily']) or ('hourly' in variable and page in variable['hourly'])  %}
                    <div class="reportItem">
                        <div class="reportItemDescription">
                            <span class="reportItemDescriptionHeader"> {{ variable['name'] }} </span>
                            <span class="reportItemDescriptionDetail"> </span>
                        </div>
                        <div class="reportItemImage">
                            {% if 'daily' in variable and page in variable['daily'] %}
                                {% if variable['daily'][page]['height'] > variable['daily'][page]['width'] %}
                                    <img src="./{{variable['daily'][page]['name']}}" alt="{{variable['name']}}m" align=left height="{{ variable['daily'][page]['height'] * 100 / height }}%" />
                                {% else %}
                                    <img src="./{{variable['daily'][page]['name']}}" alt="{{variable['name']}}m" align=left width="{{ variable['daily'][page]['width'] * 100 / width }}%" />
                                {% endif %}
                            {% endif %}
                            {% if 'hourly' in variable and page in variable['hourly'] %}
                                {% if variable['hourly'][page]['height'] > variable['hourly'][page]['width'] %}
                                    <img src="./{{variable['hourly'][page]['name']}}" alt="{{variable['name']}}m" align=left height="{{ variable['hourly'][page]['height'] * 100 / height }}%" />
                                {% else %}
                                    <img src="./{{variable['hourly'][page]['name']}}" alt="{{variable['name']}}m" align=left width="{{ variable['hourly'][page]['width'] * 100 / width }}%" />
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>
