html {
	width: 100%;
	height: 100%;
}
body {
	width: 98%;
	height: 98%;
	margin: 0px;
	padding: 8px;
}
/* decorative fonts */
@font-face {
    font-family: Phantom;
    src: url(./fonts/phantom_regular.otf);
}
@font-face {
    font-family: AllertaStencil;
    src: url(./fonts/AllertaStencil-Regular.ttf);
}
@font-face {
    font-family: Assistant;
    src: url(./fonts/Assistant-Regular.ttf);
}
@font-face {
    font-family: Baumans;
    src: url(./fonts/Baumans-Regular.ttf);
}
@font-face {
    font-family: ContrailOne;
    src: url(./fonts/ContrailOne-Regular.ttf);
}
@font-face {
    font-family: Farsan;
    src: url(./fonts/Farsan-Regular.ttf);
}
@font-face {
    font-family: FugazOne;
    src: url(./fonts/FugazOne-Regular.ttf);
}
@font-face {
    font-family: Mallanna;
    src: url(./fonts/Mallanna-Regular.ttf);
}
@font-face {
    font-family: NovaMono;
    src: url(./fonts/NovaMono.ttf);
}
@font-face {
    font-family: OleoScript;
    src: url(./fonts/OleoScript-Regular.ttf);
}
@font-face {
    font-family: RacingSansOne;
    src: url(./fonts/RacingSansOne-Regular.ttf);
}
@font-face {
    font-family: RalewayDots;
    src: url(./fonts/RalewayDots-Regular.ttf);
}
@font-face {
    font-family: Ramaraja;
    src: url(./fonts/Ramaraja-Regular.ttf);
}
@font-face {
    font-family: Shrikhand;
    src: url(./fonts/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: SourceCodePro;
    src: url(./fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: SquadaOne;
    src: url(./fonts/SquadaOne-Regular.ttf);
}
@font-face {
    font-family: TextMeOne;
    src: url(./fonts/TextMeOne-Regular.ttf);
}
@font-face {
    font-family: Timmana;
    src: url(./fonts/Timmana-Regular.ttf);
}
/* text fonts */
@font-face {
    font-family: Arimo;
    src: url(./fonts/Arimo-Regular.ttf);
}
@font-face {
    font-family: DidactGothic;
    src: url(./fonts/DidactGothic-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoCondensed;
    src: url(./fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: SourceSansPro;
    src: url(./fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Regular.ttf);
}
.reportHeader {
	width: 100%;
}
.reportInformation {
	width: 30%;
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
}
#logo {
	font-size: 28px;
	font-family: 'RalewayDots';
}
#timestamp {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 2px;
	font-size: 10px;
	font-family: 'Arimo';
	color: rgba(0,0,0,0.4);
}
table.reportMetadata {
	width: 69%;
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
	font-size: 10px;
	font-family: 'Roboto';
	border-spacing:0px;
	border-collapse: collapse;
}
table.reportMetadata tbody {
	width: 100%;
	display: table;
}
table.reportMetadata td.reportMetadataHeader {
	color: rgba(0,0,0,0.5);
}
table.reportMetadata td.reportMetadataItem {
	color: rgba(0,0,0,0.8);
}
.reportBody {
	width: 100%;
	margin-top: 8px;
	font-size: 12px;
	font-family: 'DidactGothic';
	color: rgba(0,0,0,0.9);
}
.reportCategory {
	width: 100%;
	text-align: center;
	padding: 4px;
	border-top: 1px solid rgba(0,0,0,0.2);
}
.reportItem {
	width: 100%;
	padding: 4px;
}
.reportItemDescription {
	display: inline-block;
	white-space: nowrap;
	font-size: 10px;
}
.reportItemDescription .reportItemDescriptionHeader {
	color: rgba(0,0,0,0.7);
}
.reportItemDescription .reportItemDescriptionDetail {
	color: rgba(0,0,0,0.5);
}
.reportItemImage {
	display: inline-block;
	white-space: nowrap;
}
.reportItemImage .reportItemDataImage {
	width: 90%;
}
.reportItemImage .reportItemLegendImage {
	width: 10%;
}